@import url("../node_modules/purecss/build/pure.css");
@import url("../theme/colors.css");
@import url("../theme/fonts.css");


body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
}
